*~
*.bak
x
xx*
meier*
/tmp

/.vstags
/.vscode/bookmarks.json
/.vscode-cache

/.vs
/.vscode

core
core.[0-9]*

/output
/build

/*.cfg
imgui.ini

/*.ubx
/tools/make_fake_ubxmonhw
/tools/make_fake_ubxesfstatus
/tools/make_fake_ubxesfmeas

